<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="false">
    <target name="allTarget" xsi:type="File" deleteOldFileOnStartup="false" archiveEvery="Day" maxArchiveFiles="7"
            fileName="${basedir}/logs/log-file.txt"
            layout="[${date:format=dd/MM/yyyy HH\:mm\:ss}] (${uppercase:${level:padding=5}}) - ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"
            autoFlush="true" />
    <target name="log4j" xsi:type="File" deleteOldFileOnStartup="false" archiveEvery="Day" maxArchiveFiles="7"
            fileName="${basedir}/logs/log-file.xml"
            layout="${log4jxmlevent:includeNLogData=false}"
            autoFlush="true" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="allTarget,log4j" />
  </rules>
</nlog>