<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DrunkenBakery.OWAtray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DrunkenBakery.OWAtray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DrunkenBakery.OWAtray.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>me</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>pwd</value>
            </setting>
            <setting name="UpdateInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value>mydomain.local</value>
            </setting>
            <setting name="FirstTime" serializeAs="String">
                <value>Yes</value>
            </setting>
            <setting name="Balloon" serializeAs="String">
                <value>Yes</value>
            </setting>
            <setting name="Growl" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="Snarl" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="ExchangeVersion" serializeAs="String">
                <value>2007</value>
            </setting>
            <setting name="NetworkCredentials" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="Bell" serializeAs="String">
                <value>Yes</value>
            </setting>
            <setting name="ApplicationVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxNotify" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LockDown" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="OverrideCert" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="OverrideURL" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="ManualURL" serializeAs="String">
                <value />
            </setting>
            <setting name="AlwaysIE" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="DisableCalendar" serializeAs="String">
                <value>No</value>
            </setting>
        </DrunkenBakery.OWAtray.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DrunkenBakery.OWAtray.Properties.Settings>
            <setting name="RSSFeed" serializeAs="String">
                <value>http://www.owatray.com/blog/posts.xml</value>
            </setting>
            <setting name="ApptInterval" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ApptWindow" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="OutlookPath" serializeAs="String">
                <value>OUTLOOK.EXE</value>
            </setting>
            <setting name="ShellIntegration" serializeAs="String">
                <value>ShellIntegration.exe</value>
            </setting>
        </DrunkenBakery.OWAtray.Properties.Settings>
    </applicationSettings>
</configuration>