<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DrunkenBakery.OWAtray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Messageops.Notifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DrunkenBakery.OWAtray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Messageops.Notifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DrunkenBakery.OWAtray.Properties.Settings>
            <setting name="CurrentKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="OwaUrl" serializeAs="String">
                <value>https://mail.company.com/owa</value>
            </setting>
            <setting name="UserAccount" serializeAs="String">
                <value>me@company.com</value>
            </setting>
            <setting name="DefaultMail" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultMailUser" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultIcon" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultOpen" serializeAs="String">
                <value/>
            </setting>
            <setting name="MimeURL" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="AutoLogin" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="Browser" serializeAs="String">
                <value>No</value>
            </setting>
        </DrunkenBakery.OWAtray.Properties.Settings>
        <Messageops.Notifier.Properties.Settings>
            <setting name="CurrentKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="OwaUrl" serializeAs="String">
                <value>https://mail.company.com/owa</value>
            </setting>
            <setting name="UserAccount" serializeAs="String">
                <value>me@company.com</value>
            </setting>
            <setting name="DefaultMail" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultMailUser" serializeAs="String">
                <value/>
            </setting>
        </Messageops.Notifier.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DrunkenBakery.OWAtray.Properties.Settings>
            <setting name="MailtoClass" serializeAs="String">
                <value>OWA.Url.Mailto</value>
            </setting>
            <setting name="MAPIBridge" serializeAs="String">
                <value>MapiDll.dll</value>
            </setting>
            <setting name="BrowseTimeout" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="TabStops" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="IETitle" serializeAs="String">
                <value>Untitled Message - Windows Internet Explorer</value>
            </setting>
            <setting name="PopupDelay" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="URL2010" serializeAs="String">
                <value>&amp;cc=MTQuMC43MDIuMCxlbi1HQiw0Mjk0OTY3Mjk1LEhUTUwsMSww&amp;smime=SSL%3a1%3bVer%3a14.0.639.19</value>
            </setting>
            <setting name="URL2010SP1" serializeAs="String">
                <value>&amp;cc=MTQuMS4yMTguMTMsZW4tR0IsNDI5NDk2NzI5NSxIVE1MLDEsMA==&amp;smime=SSL%3a1%3bVer%3a14.1.218.12</value>
            </setting>
            <setting name="LoginTitle" serializeAs="String">
                <value>Outlook Web App</value>
            </setting>
            <setting name="SmallWait" serializeAs="String">
                <value>200</value>
            </setting>
        </DrunkenBakery.OWAtray.Properties.Settings>
        <Messageops.Notifier.Properties.Settings>
            <setting name="MailtoClass" serializeAs="String">
                <value>OWA.Url.Mailto</value>
            </setting>
            <setting name="MAPIBridge" serializeAs="String">
                <value>MapiDll.dll</value>
            </setting>
            <setting name="BrowseTimeout" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="TabStops" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="IETitle" serializeAs="String">
                <value>Untitled Message - Windows Internet Explorer</value>
            </setting>
        </Messageops.Notifier.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
